.cartPageContainer {
	display: flex;
	justify-content: space-around;
	padding-top: 5em;
	background-color: rgb(240, 234, 226);
}

.cartPageCartEmpty {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 600px;
	text-align: center;
}

.cartPageShopBtn {
	font-size: 1.5em;
	font-weight: 800;
	letter-spacing: 1px;
	margin-top: 1em;
	padding: 0.75em 2em;
	color: black;
	background-color: white;
	text-decoration: none;
	transition: 0.25s ease-in-out;
}

.cartPageShopBtn:hover {
	box-shadow: 1px 1px 5px black;
}

.cartPageCheckout {
	display: flex;
	flex-direction: column;
	margin: 12em 0 2em;
	padding: 1em 2em 2em;
	background-color: white;
	border-radius: 5px;
	min-width: 250px;
	max-height: 200px;
}

.cartPageSubtotal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.1em;
	font-weight: 600;
	letter-spacing: 1px;
}

.cartPageCheckoutBtnEmpty,
.cartPageCheckoutBtnFull {
	width: 100%;
	letter-spacing: 3px;
	font-weight: 600;
	margin: 2em 0 1em;
	padding: 1em 4em;
	border: none;
	cursor: pointer;
}

.cartPageCheckoutBtnEmpty {
	background-color: rgb(240, 234, 226);
}

.cartPageCheckoutBtnFull {
	color: white;
	background-color: rgb(48, 96, 230);
}

.cartPageCheckoutBtnFull:hover {
	background-color: rgb(23, 63, 148);
}

.cartPageCartFull {
	margin-top: -4em;
	min-width: 600px;
}

.cartPageReceipt {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
	letter-spacing: 3px;
}

.cartPageReceipt span {
	display: flex;
	justify-content: space-between;
	width: 48%;
}

.cartPageClearCart {
	display: flex;
	justify-content: center;
	margin: 2em;
}

.cartPageClearCart button {
	padding: 0.5em;
	font-size: 1em;
	letter-spacing: 2px;
	cursor: pointer;
}

/* ------------------------------------------------ */

@media (max-width: 1000px) {
	.cartPageCartEmpty,
	.cartPageCartFull {
		min-width: 450px;
	}
}

@media (max-width: 850px) {
	.cartPageContainer {
		flex-direction: column;
		align-items: center;
		gap: 2em;
		padding-top: 0;
	}
	.cartPageCartEmpty,
	.cartPageCartFull {
		margin-top: 2em;
		min-width: auto;
	}
	.cartPageCartEmpty h1 {
		width: 75%;
	}
	.cartPageCheckout {
		margin: 4em 0 2em;
		min-width: auto;
	}
}

@media (max-width: 450px) {
	.cartPageCartEmpty h1 {
		width: 90%;
	}
	.cartPageReceipt {
		display: none;
	}
}
