.homePageContainer {
	display: flex;
}

.homePageImg {
	width: 50vw;
}

.homePageContent {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex: 1;
	padding: 0 2em;
	background-color: rgb(240, 234, 226);
}

.homePageTitle {
	font-size: 3em;
	font-weight: bold;
}

.homePageShopBtn {
	font-size: 1.5em;
	font-weight: 800;
	letter-spacing: 1px;
	padding: 0.75em 2em;
	color: black;
	background-color: rgb(168, 14, 14);
	text-decoration: none;
	transition: 0.2s;
}

.homePageShopBtn:hover {
	color: white;
	text-shadow: 1px 1px 5px white;
}

.homePageForm {
	width: 100%;
}

.homePageEmailInput {
	width: 60%;
	max-width: 350px;
	font-size: 1.2em;
	padding: 0.5em;
}

.homePageSubscribeBtn {
	width: 30%;
	max-width: 125px;
	font-size: 1.2em;
	padding: 0.5em;
	color: white;
	background-color: rgb(168, 14, 14);
	border: 2px solid rgb(168, 14, 14);
	transition: 0.2s;
	cursor: pointer;
}

/* ------------------------------------------------ */

@media (max-width: 975px) {
	.homePageTitle {
		font-size: 2.5em;
	}
}

@media (max-width: 850px) {
	.homePageContainer {
		flex-direction: column;
		align-items: center;
	}
	.homePageContent {
		gap: 5em;
		align-items: center;
		text-align: center;
	}
	.homePageForm {
		margin: 2em auto;
	}
}

@media (max-width: 500px) {
	.homePageForm {
		width: 90vw;
		font-size: 0.85em;
	}
	.homePageSubscribeBtn {
		max-width: 100px;
	}
}
