.cartItemContainer {
	display: flex;
	justify-content: space-between;
	gap: 8em;
}

.cartItemProduct {
	display: flex;
	gap: 1em;
	font-weight: 800;
}

.cartItemProduct span {
	width: 50px;
}

.cartItemImgCover,
.cartItemImgContain {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.cartItemImgCover {
	object-fit: cover;
}

.cartItemImgContain {
	object-fit: contain;
	background-color: white;
}

.cartItemQuantity button > * {
	pointer-events: none;
}

.cartItemQuantity button {
	border: none;
	background-color: white;
	cursor: pointer;
}

.cartItemQuantity input {
	width: 20px;
	text-align: center;
	border: 1px solid rgb(196, 193, 189);
	background-color: rgb(240, 234, 226);
}

.cartItemPrice {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	font-weight: 600;
}

.cartItemPrice button {
	padding: 0.5em;
	cursor: pointer;
}

hr {
	margin-top: 1em;
}

.hiddenContainer {
	display: none;
}

/* ------------------------------------------------ */

@media (max-width: 1175px) {
	.cartItemContainer {
		gap: 4em;
	}
}

@media (max-width: 450px) {
	.visibleContainer {
		display: none;
	}
	.hiddenContainer {
		display: inline;
	}
	.cartItemProduct span {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100px;
	}
}
