.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em 2.5em;
	background-color: black;
}

.nav a {
	text-decoration: none;
}

.navShop,
.navBrand {
	color: white;
	text-shadow: 1px 1px 5px white;
	padding: 1em 0em;
}

.navShop {
	font-size: 1.5em;
	font-weight: 500;
}

.navShop:hover {
	font-weight: 600;
}

.navToggle {
	display: none;
	font-size: 1.5em;
	color: white;
	background: transparent;
	border: transparent;
	transition: 0.5s;
	cursor: pointer;
}

.navToggle:hover {
	transform: rotateY(180deg);
}

.navBrand {
	font-size: 2em;
	letter-spacing: 4px;
	margin: 0;
}

.navCart {
	font-size: 2em;
	padding: 1em 0em;
	color: rgb(168, 14, 14);
	text-shadow: 1px 1px 5px rgb(168, 14, 14);
}

/* ------------------------------------------------ */

@media (max-width: 850px) {
	.navShop {
		display: none;
	}
	.navToggle {
		display: inline;
	}
}

@media (max-width: 400px) {
	.navBrand {
		letter-spacing: 1px;
	}
	.navCart {
		font-size: 1.5em;
	}
}
