.itemContainer {
	position: relative;
}

.itemMsg {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.itemMsg p {
	width: 80%;
	font-weight: 800;
	letter-spacing: 2px;
	color: white;
	background-color: rgb(48, 96, 230);
	border-radius: 4px;
}

.itemImgCover,
.itemImgContain {
	width: 300px;
	height: 300px;
}

.itemImgCover {
	object-fit: cover;
}

.itemImgContain {
	object-fit: contain;
}

.itemDetails {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.itemDetails button {
	font-size: 1.2em;
	padding: 0.8em;
	border: none;
	color: white;
	background-color: rgb(48, 96, 230);
}

.itemDetails button:hover {
	cursor: pointer;
	background-color: rgb(23, 63, 148);
}

/* ------------------------------------------------ */

@media (max-width: 630px) {
	.itemDetails {
		flex-direction: column;
	}
	.itemDetails button {
		font-size: 1em;
		margin: -1em 0 1em 0;
	}
}
