.modalContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	visibility: hidden;
	z-index: -1;
}

.showModal {
	visibility: visible;
	z-index: 1;
}

.modalContent {
	position: relative;
	max-width: 750px;
	width: 70vw;
	height: 350px;
	background: url(../images/logo.jpg);
	background-position: right;
	background-size: contain;
	border-radius: 4px;
}

.modalSpecs {
	width: 75%;
	padding: 0em 1em;
}

.modalSpecs h2 {
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px black;
}

.modalCloseBtn {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	padding: 0.25em;
	font-size: 1.5em;
	cursor: pointer;
}

/* ------------------------------------------------ */

@media (max-width: 850px) {
	.modalContent {
		width: 75vw;
		background-repeat: no-repeat;
		background-position: left;
		background-size: auto;
	}
}
