.productPageContainer {
	display: flex;
	justify-content: space-evenly;
	padding-top: 2em;
}

.productPageCategories {
	width: 20vw;
	padding-left: 2em;
}

.productPageLinks {
	margin-top: 1em;
}

.productPageItem {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 1em;
	width: 60vw;
}
