.productsPageContainer {
	display: flex;
	justify-content: space-evenly;
	padding-top: 2em;
}

.productsPageCategories {
	width: 20vw;
	padding-left: 2em;
}

.productsPageLinks {
	margin-top: 1em;
}

.productsPageLinks h1,
.productsPageLinks h2 {
	display: inline-block;
	position: relative;
	margin-bottom: 1em;
	color: black;
}

.productsPageLinks h1:before,
.productsPageLinks h2:before {
	position: absolute;
	content: '';
	left: 0;
	bottom: -4px;
	width: 0;
	height: 2px;
	background-color: rgb(23, 63, 148);
	transition: 0.2s ease-in-out;
}

.productsPageLinks h1:hover:before,
.productsPageLinks h2:hover::before {
	width: 100%;
}

.productsPageItem {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 1em;
	width: 60vw;
	margin-bottom: 1em;
}

/* ------------------------------------------------ */

@media (max-width: 1026px) {
	.productsPageCategories {
		width: 12em;
	}
	.productsPageItem {
		justify-content: center;
	}
}

@media (max-width: 630px) {
	.productsPageContainer {
		flex-direction: column;
		align-items: center;
	}
	.productsPageCategories {
		padding: 0 0 4em 0;
	}
	.productsPageItem {
		text-align: center;
	}
}
